<form method="post" action="{{ path('app_vote_delete', {'idV': vote.idV}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vote.idV) }}">
    <button class="btn">Delete</button>
</form>
