<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>confirmation</title>
</head>
<body>
<style>
    .big-text {
        font-size: 2rem; /* Adjust the value to make it as big as needed */
        line-height: 1; /* Optional: Adjust the line height if needed */
    }
</style>

<h1 class="big-text">Your email has been confirmed</h1>



    {% block body %}{% endblock %}

</body>
</html>
